{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.


{shell, [
    {apps, [gleam_openfaas]}
]}.

{project_plugins, [rebar_gleam, rebar3_path_deps]}.

{deps, [
    {function, {path, "function"}},
    {gleam_stdlib, "~> 0.14"},
    {gleam_http, "~> 2.0"},
    {gleam_elli, "~> 0.2"},
    {gleam_otp, "~> 0.1.4"},
    elli
]}.

{relx, [{release, {gleam_openfaas, "0.1.0"},
         [gleam_openfaas, function, jsone, elli, gleam_jsone, gleam_decode, gleam_otp, gleam_http, gleam_stdlib, gleam_elli]},
        {mode, prod}]}.